.header_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2000; 
  }
  
  .img_sidebar_header_left {
    margin-right: 30px;
  }
  .logo_sidebar_header {
    max-height: 40px;
  }
  
  .header_sidebar_rigth {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 20px;
  }
  
  
  .header_sidebar_rigth_lang {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .h_s_lang_def {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
  }

  .h_s_lang_img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  
  .h_s_lang_list {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--card-background, #fff);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 10px;
  }
  .h_s_lang_item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    cursor: pointer;
  }
  .h_s_lang_item:hover {
    background: var(--hover-header);
    border-radius: 5px;
  }
@media (max-width: 768px) {
    .img_sidebar_header_left {
      display: none;
    }
  
    [dir="rtl"] .header_sidebar_rigth {
      margin-right: 100px;
    }
  
    [dir="ltr"] .header_sidebar_rigth {
      margin-left: 70px;
    }
  }
  