.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
  }
  

  
  .user-servers-container {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  .user-servers-container.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  .user-servers-container h2 {
    font-size: 30px;
  }
  .servers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 40px;
  }
  
  .server-card {
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .server-card:hover {
    transform: translateY(-5px);
  }
  
  .server-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid var(--hover-header);
  }
  
  .server-name {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .server-members {
    font-size: 1rem;
    color: #bbb;
    margin-bottom: 20px;
  }
  
  .server-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .manage-btn {
    background-color: var(--hover-header);
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  .manage-btn:hover {
    background-color: var(--hover-header);
  }
  
  .invite-btn {
    background-color: transparent;
    color: var(--hover-header);
    border: 2px solid var(--hover-header);
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .invite-btn:hover {
    background-color: var(--hover-header);
    color: #fff;
  }
  